# gitignore
# Authors: Khatanbuuvei Bold and Justin Chang 

# Temporary files used for testing outputs
temp*
sample_response

# Local settings
.vscode

# Environment variables 
.env

# Peer reviews
peer.txt